<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <style>
        img {
            margin-top: -5px;
            border-radius: 50%;
        }
        .number-right{
            text-align: right;
        }
    </style>
    {% block stylesheets %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}

</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>